/* =============
    Section 3 text
============= */
#section-3-text{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3-text .";
    }

    >div{
        text-align: center;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: " section-3-text ";
        padding: 43px;
        color: $yellow;
    
        @include md{
            grid-template-columns: auto 70% auto;
        }
    
        @include xl{
            grid-template-columns: auto 650px auto;
            grid-area: section-3-text;
        }
        
        >aside{
            grid-area: aside;
            
            hr{
                border: none;
                height: 3px;
                background-color: $lightpink;
            }
        } 
    }    
}